/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-size: 15px;
}

ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
}

.nav-sidebar {
 padding-top: 3.5rem;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  font-weight: bold;
  transition: all .2s;
}

.column-title {
    text-align: center;
}

.column-text {

}

.column-text-center {
  text-align: center;
}


a.panel-heading-link {
	color: white;
}

.nav-sidebar > li.active {
    background-color: whitesmoke;
}

.nav-login-form {
    padding-right: 50px;
}

.form-error {
  color: salmon;
}

.view-body {
  padding: 10px;
}

.panel-primary > .panel-heading > h3 {
  color: white;
}

.navbar-inverse .navbar-form input[type=text], .navbar-inverse .navbar-form input[type=password] {
  color: #666;
  padding-left: 5px;
}

[type=text].form-control, input.form-control {
  padding-left: 5px;
}

.alert-info {
  color: white;
}

.explanatory {
  font-style: italic;
}