{{ define "title" }}About{{ end }}

{{ define "jumbotron" }}
<div class="jumbotron">
  <h1>About Pathfork</h1>
        <p>
            Pathfork is made, maintained, and grown by Tynan Burke, who had some free time and wanted a cloud-based tool just like it to use in his own writing.
        </p>
        <p>
            Pathfork is written in Go and served by Heroku. You can find the code <a href="https://github.com/thearchduke/pathfork">on Github</a> if you'd like to take a peek or contribute. It is not perfect and I would love some help.
        </p>
        <p>
            Running Pathfork is not free. I'm more than happy to do it, but if you want to support me <a href="https://www.patreon.com/tynanburke">on Patreon</a> (even a dollar!) that would be great. I also keep a BTC wallet at 14BgUAk3mq24szBDfNs2WQyMVXR4tHmQQz.
        </p>
        <p>
            Happy writing!
        </p>
</div>
{{ end }}

{{ define "sidebar" }}
<div class="col-sm-2 col-md-2 sidebar">
</div>
{{ end }}


{{ define "body" }}
{{ end }}
