{{ define "title" }}About{{ end }}

{{ define "jumbotron" }}
<div class="jumbotron">
  <h1>About Pathfork</h1>
</div>
{{ end }}

{{ define "sidebar" }}
<div class="col-sm-2 col-md-2 sidebar">
</div>
{{ end }}


{{ define "body" }}
<div class="row">
    <div class="col-md-10">
        <p>
            Pathfork was made by Tynan Burke, who had some free time and wanted a cloud-based tool just like it to use in his own writing. (He also has <a href="http://againststupiditycomic.wordpress.com">a comedy/horror webcomic</a>.)
        </p>
        <p>
            It is written in Go. 
        </p>
    </div>
</div>
{{ end }}
