{{ define "title" }}Request password reset{{ end }}

{{ define "jumbotron" }}
<div class="jumbotron">
  <h1>Reset your password</h1>
  <p>Fill out this form to get an email that will let you continue.</p>
</div>
{{ end }}

{{ define "sidebar" }}
<div class="col-sm-2 col-md-2 sidebar">
</div>
{{ end }}


{{ define "body" }}
<div class="col-md-10">
    <form action="{{ URLFor "reset" }}?action=request-reset" method="POST">
      {{ WrapField .Form.Fields.email }}<br/>
      <input type="submit" value="Submit">
    </form>
</div>
{{ end }}
