{{ define "title" }}Reset password{{ end }}

{{ define "jumbotron" }}
<div class="jumbotron">
  <h1>Please enter your new password</h1>
</div>
{{ end }}

{{ define "sidebar" }}
<div class="col-sm-2 col-md-2 sidebar">
</div>
{{ end }}


{{ define "body" }}
<div class="col-md-10">
    <form action="{{ URLFor "reset" }}?action=reset&token={{ .Token }}" method="POST">
      {{ WrapField .Form.Fields.newPassword }}<br/>
      {{ WrapField .Form.Fields.repeatPassword }}<br/>
      <input type="submit" value="Submit">
    </form>
</div>
{{ end }}
