{{ define "title" }}{{ .Title }}{{ end }}

{{ define "jumbotron" }}
    <div class="jumbotron">
      <h1>{{ AsHTML .Title }}</h1>
      <p>
          {{ AsHTML .Section.Blurb }}
      </p>
      {{ if .DeleteForm }}
      <p>
        <form action="{{ URLFor "section_delete" }}{{ .Section.Id }}" method="POST" onclick="return confirm('Are you sure you want to delete this?');">
        <div class="form-group">
          {{ .DeleteForm.Fields.csrf.Render }}
          {{ .DeleteForm.Fields.id.Render }}
          <input type="submit" class="btn btn-danger" value="Delete">
        </div>
      </form>
      </p>
      {{ end }}
    </div>
{{ end }}

{{ define "body" }}
<div class="row">
    <div class="col-md-10">
      {{ if .NewObj }}
        <form action="{{ URLFor "section_new" }}?workId={{ .ParentId }}" method="POST">
      {{ else }}
        <form id="section-edit-form" action="{{ URLFor "section_edit" }}{{ .Section.Id }}" method="POST">
      {{ end }}
        <div class="form-group">
          {{ .Form.Fields.csrf.Render }}
          {{ .Form.Fields.work_id.Render }}
          {{ .Form.Fields.currentCharIds.Render }}
          {{ .Form.Fields.currentSettingIds.Render }}
          {{ WrapField .Form.Fields.title }} <br/>
          {{ WrapField .Form.Fields.characters }} <br/>
          {{ WrapField .Form.Fields.settings }}
          <p>
            <small>N.B.: Characters and Settings only let you select from items you've defined in the Characters and Settings sections.</small>
          </p>
          {{ WrapField .Form.Fields.snippet }}
          <p>
            <small>Snippets are not shown in the table of contents</small>
          </p>
          {{ WrapTextAreaField .Form.Fields.blurb "5" "9" }}
          <hr />
          {{ WrapTextAreaField .Form.Fields.body "30" "12" }}
          <br />
          <input type="submit" class="btn btn-default" value="Save">
        </div>
      </form>
    </div>
</div>
<div class="row">
</div>
{{ end }}

{{ define "scripts" }}
  {{ template "formscripts" . }}
  <script type="text/javascript">
    $(function() {
      var autosaveInterval = 60 * 1000;
      var previousFormString = $('#section-edit-form').serialize();

      function getTimestamp() {
        var now = new Date();
        var hour = now.getHours();
        var minsRaw = now.getMinutes();
        var minsPadding;
        minsRaw < 10 ? minsPadding = "0" : minsPadding = "";
        mins = minsPadding + minsRaw;
        return hour + ":" + mins;
      }

      function updateTimestamp() {
        $('#autosave-timestamp').text(getTimestamp());
      }

      $('.body-label').append('<br/><small style="font-style: italic;">Autosaved at <span id="autosave-timestamp">' + getTimestamp() + '</span></small>');
      setInterval(function() {
        tinymce.triggerSave();
        newFormString = $('#section-edit-form').serialize();
        if (newFormString === previousFormString) {
          updateTimestamp();
          return;
        }
        previousFormString = newFormString;
        $.ajax({
          type: "POST",
          url: '{{ URLFor "section_edit" }}{{ .Section.Id }}' + '?action=autosave',
          data: newFormString,
          success: updateTimestamp,
        })
      }, autosaveInterval);

    });
  </script>
{{ end }}