{{ define "title" }}{{ .Title }}{{ end }}

{{ define "jumbotron" }}
    <div class="jumbotron">
      <h1>{{ .Work.Title }}</h1>
      <p><a href="{{ URLFor "work_edit" }}{{ .Work.Id }}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;edit</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ URLFor "work_export" }}{{ .Work.Id }}" data-toggle="tooltip" title="Takes you to a plain HTML page. Save this and open it in Word or another editor, then save as... with your preferred format."><span class="glyphicon glyphicon-save-file"></span>&nbsp;export</a></p>
      <p>
          {{ AsHTML .Work.Blurb }}
      </p>
      <small class="word-count" style="font-style: italic;">({{ .Work.WordCount }} words)</small>
    </div>
{{ end }}

{{ define "body" }}
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
          <div class="panel-heading"><h3>Table of Contents</h3>
          <a class="panel-heading-link" href="{{ URLFor "section_new" }}?workId={{ .Work.Id }}"><span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"></span> add a new section</a>
          <br /><a class="panel-heading-link" href="{{ URLFor "section_reorder" }}{{ .Work.Id }}"><span class="glyphicon glyphicon-sort"  aria-hidden="true"></span> re-order sections</a>
          </div>
          <ol class="list-group">
              {{ range .SectionsList }}
              <li class="list-group-item">
                  <a href="{{ URLFor "section_view" }}{{ .Id }}"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;{{ .Title }}</a> <small class="word-count" style="font-style: italic;">({{ .WordCount }} words)</small>
                  <p>
                      {{ AsHTML .Blurb }}
                  </p>
              </li>
              {{ end }}
          </ol>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading"><h3>Snippets</h3>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> a snippet is just a section with the "snippet" box checked!
          </div>
          <ul class="list-group">
              {{ range .SnippetsList }}
              <li class="list-group-item">
                  <a href="{{ URLFor "section_view" }}{{ .Id }}"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;{{ .Title }}</a>
                  <p>
                      {{ AsHTML .Blurb }}
                  </p>
              </li>
              {{ end }}
          </ul>
        </div>
      </div>

    <div class="col-md-3">
      <div class="row">

        <div class="panel panel-info">
          <div class="panel-heading"><h3>Characters</h3>
          <small><a href="{{ URLFor "character_new" }}?workId={{ .Work.Id }}"><span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"></span> add a new character</a></small>
          </div>
          <ul class="list-group">
              {{ range .CharactersList }}
              <li class="list-group-item">
                  <a href="{{ URLFor "character_view" }}{{ .Id }}"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;{{ .Name }}</a>
                  <p>
                      {{ AsHTML .Blurb }}
                  </p>
              </li>
              {{ end }}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-success">
          <div class="panel-heading"><h3>Settings</h3>
          <small><a href="{{ URLFor "setting_new" }}?workId={{ .Work.Id }}"><span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"></span> add a new setting</a></small>
          </div>
          <ul class="list-group">
              {{ range .SettingsList }}
              <li class="list-group-item">
                  <a href="{{ URLFor "setting_view" }}{{ .Id }}"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;{{ .Name }}</a>
                  <p>
                      {{ AsHTML .Blurb }}
                  </p>
              </li>
              {{ end }}
          </ul>
        </div>
      </div>
    </div>

</div>
{{ end }}
